* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Archivo', sans-serif;
}
/* navbar dropdown mobile */
.navbar {
    background-color: rgb(216, 216, 2);
    width: 100vw;
    min-height: 50px;
    position: fixed;
    top: 0;
}
.dropdown-btn{
    color: white;
    font-size: 21px;
    border: 1px solid white;
    padding: 4px 0;
    margin-left: 10px;
}
.dropdown-btn i {
    padding: 10px;
}
.dropdown-menu {
    display: none;
    margin-top: 10px;
}
.dropdown-item {
    color: white;
    padding: 10px;
    width: 100%;
    border-bottom: rgb(167, 167, 0) solid 1px;
}
.dropdown-item a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    width: 100%;
    display: block;
    text-transform: capitalize;
}
.dropdown-item:active {
    background-color: rgb(167, 167, 0);
}
.dropdown-btn:hover ~ .dropdown-menu {
    display: block;
}
/* images before main content styling */
.container {
    margin-top: 60px;
}
.logo {
    float: right;
    margin-right: 40px;
    width: 180px;
}
.logo img {
    width: 100%;
}
.img-container {
    margin-top: 10px;
    width: 100vw;
}
.img-container img {
    width: 100vw;
}
/* main content styling */
.btn {
    background-color: yellow;
    padding: 4px 20px;
    margin: 0 auto;
    text-align: center;
}
main section {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
section h1 {
    margin: 0 0 14px 20px;
    text-transform: uppercase;
}
main section p {
    border-top: solid rgba(0, 0, 0, 0.2) 1px;
    padding: 16px 20px;
}
.btn {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 60px;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
}
main section i {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 4px;
}
main section h1 {
    font-size: 18px;
}
.link {
    text-decoration: none;
}
iframe {
    width: 100%;
    min-height: 506px;
}

@media only screen and (min-width: 992px) {
    .dropdown {
        display: none;
    }
}